.grid {
  background-color: var(--white) !important;
  width: 30rem;
  border-radius: var(--corner-radius);
  padding: 2rem;

  display: grid;
  grid-template-columns: [start] repeat(4, 1fr) [end];
  gap: var(--gap);
}

.grid > p {
  grid-column: start / end;
}

.theme-buttons {
  grid-column: start / end;
  grid-template-columns: repeat(2, 1fr);
}

.player-buttons {
  grid-column: start / end;
  grid-template-columns: repeat(4, 1fr);
}

.grid-buttons {
  grid-column: start / end;
  grid-template-columns: repeat(2, 1fr);
}

.start-button {
  grid-column: start / end;
}
