.grid {
  background-color: var(--white) !important;
  width: 30rem;

  display: grid;
  grid-template-columns: [start] repeat(4, 1fr) [end];
  gap: var(--gap);
  padding: 2rem !important;
}

.grid > p {
  grid-column: start / end;
}

.grid > button {
  color: var(--white);
  width: 100%;
}

.theme-button {
  grid-column: span 2;
}

.player-button {
  grid-column: span 1;
}

.grid-button {
  grid-column: span 2;
}

.start-button {
  grid-column: span 4;
}
