.list {
  display: grid;
  row-gap: 0.5rem;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.winner {
  background-color: var(--dark-blue);
}

.winner > p {
  color: var(--white);
}
