.navbar {
  grid-column: start / end;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-frame {
  display: flex;
  align-items: center;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.coin-container {
  grid-column: start / end;

  display: grid;
  place-items: center;
}

.player-container {
  grid-column: start / end;

  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
