.homepage {
  background-color: var(--dark-blue);
}

.grid {
  place-items: center;
}

.homemenu-container {
  grid-column: start / end;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.logo-frame {
  margin-bottom: 3rem;
}
