.homepage {
  background-color: var(--dark-blue);
}

.grid img {
  grid-column: start / end;
  place-self: end center;
}

.menu {
  grid-column: col-start 4 / col-end 9;
  align-self: center;
  padding: 3rem;
}
