.coin-button {
  border: none;
  border-radius: 50%;
  background-color: var(--light-blue);
  width: 5rem;
  height: 5rem;
  position: relative;
}

.cover {
  background-color: var(--dark-blue);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: inherit;
}

.cover:hover {
  background-color: var(--blue);
}

.active {
  background-color: var(--orange);
}
