.icon-frame {
  display: grid;
  place-items: center;
}

.coin-button {
  border: none;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
  width: 5rem;
  height: 5rem;
  position: relative;
  font-size: 2.5rem;
}

.cover {
  background-color: var(--dark-blue);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: inherit;
  opacity: 1;
}

.cover:hover {
  background-color: var(--blue);
}

.matched {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.big {
  width: 7rem;
  height: 7rem;
}
