.player {
  height: min-content;
  background-color: var(--light-gray-blue);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* width: clamp(5rem, 50%, 400px) !important; */
}

.player-number {
  color: var(--dark-blue);
  opacity: var(--text-opacity);
}

.player-score {
  font-size: var(--heading-2);
}

.player::before {
  content: "";
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--light-gray-blue);
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.current-turn {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -2rem;
  font-size: 1rem;
  width: max-content;
  letter-spacing: 5px;
}

.active,
.active::before,
.active > .player-number,
.active .player-number span,
.active > .player-score {
  background-color: var(--orange) !important;
  color: var(--white) !important;
}

@media only screen and (max-width: 771px) {
  .current-turn {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 670px) {
  .current-turn {
    display: none;
  }

  .player-number span {
    display: none;
  }
}
