* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --orange: #fda214;
  --blue: #6395b8;

  --dark-blue: #152938;
  --light-blue: #7191a5;

  --light-gray-blue: #bcced9;
  --dark-gray-blue: #304859;

  --light-gray: #f2f2f2;
  --white: #fcfcfc;
}

body {
  font-family: "Atkinson Hyperlegible";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* CLASS SELECTORS */

.number-small {
  font-size: 2.75rem;
}

.number-big {
  font-size: 3.5rem;
}
