.card {
  background-color: var(--light-gray-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: var(--corner-radius);
  position: relative;
}

.card p:nth-child(1) {
  opacity: var(--text-opacity);
}

.card p:nth-child(2) {
  font-size: var(--heading-2);
}

.active {
  background-color: var(--dark-blue);
  color: var(--white);
}
